<div class="jumbotron">
    <h1>
        <center>Spring Boot
            <small>basic features</small>
        </center>
    </h1>
</div>
<div class="container">

    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">MySQL</h3>
        </div>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Text</th>
            </tr>
            <tr data-ng-repeat="record in records">
                <td>{{ record.id }}</td>
                <td>{{ record.text }}</td>
            </tr>
        </table>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading"><strong>Connection</strong></div>
        <div class="panel-body">
            <div>
                Username: {{ connection.username }}
            </div>
            <div>
                Address: {{ connection.remoteAddress }}
            </div>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading"><strong>Configuration Property</strong></div>
        <div class="panel-body">
            {{ config.property }}
        </div>
    </div>
</div>